name: go

on:
  push:
    paths:
      - "samples/go/**"
      - ".github/workflows/go.yml"

env:
  DOCKER_REGISTRY: docker.pkg.github.com
  USER: ${{ secrets.USER }}
  AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
  OWNER: miracl

jobs:
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Go lint
        run: test -z "$(gofmt -s -l . 2>&1 | grep -v vendor | tee /dev/stderr)"

  build-docker:
    needs: lint-go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Docker login, build & push
        run: |
          docker login -u $USER -p $AUTH_TOKEN $DOCKER_REGISTRY
          docker build --tag $DOCKER_REGISTRY/$OWNER/oidc-samples/go:latest samples/go/
          docker push $DOCKER_REGISTRY/$OWNER/oidc-samples/go:latest
          docker tag $DOCKER_REGISTRY/$OWNER/oidc-samples/go:latest $DOCKER_REGISTRY/$OWNER/oidc-samples/go:$GITHUB_ACTION
          docker push $DOCKER_REGISTRY/$OWNER/oidc-samples/go:$GITHUB_ACTION

  run-integration-tests:
    needs: build-docker
    runs-on: ubuntu-latest
    steps:
      - name: Run integration tests
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}

        run: |
          docker login -u $USER -p $AUTH_TOKEN $DOCKER_REGISTRY
          docker pull $DOCKER_REGISTRY/$OWNER/oidc-samples/go:latest
          SAMPLE_CONTAINER_ID=$(docker run -d -p 8000:8000 --rm -e CLIENT_ID -e CLIENT_SECRET $DOCKER_REGISTRY/$OWNER/oidc-samples/go:latest)
          docker run --network="host" --rm -e CLIENT_ID -e CLIENT_SECRET $DOCKER_REGISTRY/$OWNER/oidc-samples/integration-tests:latest
          docker container stop $SAMPLE_CONTAINER_ID
